<launch>
    <arg name="name" default="noname"/>
    <include file="$(find opti_track_ros_interface)/launch/vrpn_optitrack.launch" />
    <node pkg="openzen_sensor" type="openzen_sensor_node" name="openzen_sensor_node" />
    <node pkg="rosbag" type="record" name="recorder" args="record -a -O  $(find save_file)/../../Data/$(arg name).bag"/>
</launch>
